@use '../../Utilities/variables'; 

.home__container{
    @include variables.padding;
}

.card__container{
    margin:2rem 0;
    padding:2rem 0;
    justify-self: center;
}

.card__container__item{
    display: flex;
    align-self: center;
    justify-self: center!important;
    text-align: center;
}