@use '../../Utilities/variables'; 

.home__container{
    @include variables.padding;
}

.card__container{
    margin:2rem 0;
    padding:2rem 0;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card__container__item{
    align-self: center;
    justify-self: center!important;
    text-align: center;
    @media screen and (max-width: 900px) {
        display: flex;
     }
}