$black: #000;
$white: #fff;
$fullwidth: 100vw;
$fullheight: 100vh;
$small: 400px;
$medium: 900px;

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin padding{
    padding:100px 30px;
}